body{
  margin-left: 3rem;
}
.name{

  font-size: 48px;
  padding: 3px;
}

.contactInfo{
  color: #707070;
  font-size: 19px;
}

.firmIdent{
  font-weight: 300;
  font-size: 25px;
}

.duration{
  color: #707070;
}

.work{
  margin-left: 2rem;
  color: black;
  font-size: 18px;
}

.header-box{
  color: #00ab44;
  font-weight: 600;
  font-size: 27px;
}

.border{
  margin-bottom: 1rem;
}

.push{
  margin-left: 1.5rem;
}